<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Temperature</title>
</head>
<body>
<h1>Temperature</h1>

<div>
    <table>
        <tr>
            <th>Pays</th>
            <th>Date</th>
            <th>Température</th>
        </tr>
        <tr>
            <td th:utext="${temp.country}">...</td>
            <td th:utext="${temp.date}">...</td>
            <td th:utext="${temp.temperature}">...</td>
        </tr>
    </table>
</div>

</body>

</html>
